*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hero{
    background-color: midnightblue;
    height: 200px;
}

#degree{
    margin-left: 30px !important;
    color: white;
}
#navigation{
    background-color: transparent !important;
}
.nav-link{
    color: black !important;
    margin-left: 20px !important;
}
input{
    height: 20px !important;
    width: 20px !important;
    margin-right: 10px !important;
}
#filtter{
    background: transparent !important;
}
.card:hover{
    box-shadow:  10px 20px 20px rgb(177, 175, 175),    -10px -10px 20px  rgb(177, 175, 175),
    10px -10px 20px rgb(177, 175, 175),
    -10px 10px 20px  rgb(177, 175, 175);
}
#card-img{
    height: 90px;
    width: 100px;
}
#card-img1{
    height: 90px;
    width: 250px;
}
#card-img2{
    height: 100px;
    width: 120px;
}
#card-img3{
    height: 100px;
    width: 300px;
}
#card-img4{
    height: 120px;
    width: 300px;
}
.pagination{
    margin: 10px !important;
}
.page-link{
    font-size: 1rem !important;
    border: none !important;
}
#first-class{
    background-color: rgb(3, 3, 68) !important ;
}
.active{
    border-radius: 5px !important;
    margin-left: 5px !important;
}
#course-card{
    height: 100px;
    display: flex !important;
    align-items: center !important;
    background: rgb(244,244,247);
    background: liner-gradient(225deg, rgba(244,244,247,1) 0%, rgba(219,229,234,1) 22%, rgba(228,232,234,1) 45%, rgba(236,236,244,1) 96%, rgba(241,241,244,1) 99%);
}
#course-card1{
    height: 100px;
    display: flex !important;
    align-items: center !important;
    background: rgb(244,244,247);
    background: liner-gradient(225deg, rgba(244,244,247,1) 0%, rgba(219,229,234,1) 22%, rgba(228,232,234,1) 45%, rgba(236,236,244,1) 96%, rgba(241,241,244,1) 99%);
}
#d-name{
    margin-top: 20px !important;
}
#degree-card{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background: rgb(244,244,247);
    background: liner-gradient(225deg, rgba(244,244,247,1) 0%, rgba(219,229,234,1) 22%, rgba(228,232,234,1) 45%, rgba(236,236,244,1) 96%, rgba(241,241,244,1) 99%);
}
#card-detail{
    height: 240px;
    width: 330px;
}
#card-image{
    height: 250px;
}
.professors{
    display: flex;
}
#faq{
    display: flex;
    justify-content: space-around;
}
i{
    font-size: 1.5rem;
    margin: 10px;
}
#question-s{
    padding: 10px;
}
#accordionFlushExample{
    padding: 10px;
}
@media(max-width:600px){
    #faq{
        display: flex;
        flex-direction: column;
    }   
    #question-s{
        margin-left: 20px;
        width: 80% !important;
    }
    #accordionFlushExample{
        margin-left: 20px;
        width: 80% !important;
    }
}