@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: 900px !important;
}

#hero {
    height: 500px !important;
    background-color: rgb(214, 236, 244) !important;
    display: flex;
    justify-content: space-around;
}

#content {
    height: 900px;
    margin-left: 40px !important;
}

#linked {
    font-size: 1.5rem;
}

#google-img {
    margin-top: 80px !important;
}

#active {
    color: rgb(35, 25, 168) !important;
    background-color: rgb(211, 207, 207) !important;
}

#anchor {
    color: #000;
}

#secondary {
    height: 30px;
    margin: 5px !important;
    background-color: rgb(214, 211, 211);
    color: #000;
}

small {
    font-size: 12px !important;
    display: flex;
    align-items: center;
}

#box {
    width: 400px;
    height: 400px;
    background-color: white;
}

#box-item {
    height: 400px;
    width: 400px !important;
    box-shadow: 10px 20px 20px rgb(177, 175, 175), -10px -10px 20px rgb(177, 175, 175),
        10px -10px 20px rgb(177, 175, 175),
        -10px 10px 20px rgb(177, 175, 175);
}

i {
    color: rgb(7, 2, 113) !important;
}

#navigation {
    margin-top: 50px !important;
}

#course {
    text-decoration: none !important;
}

#google-c {
    color: #000 !important;
}

#enroll {
    padding: 10px;
}

#master {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#l-business {
    text-decoration: none;
}

#list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#img-content {
    margin-top: 90px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #757474;
    height: 100px;
}

#know-more {
    margin-top: 50px;
    margin-bottom: 50px !important;
}

#read {
    color: blue;
    cursor: pointer !important;
}

#read-more {
    color: blue;
    cursor: pointer !important;
}

#acrrording {
    display: flex;
    justify-content: space-around;
}

#infra {
    border: 1px solid #a9a8a8;
    border-radius: 10px;
    padding: 10px !important;
    width: 60%;
}

#accordionFlushExample {
    border-radius: 10px;
    padding: 10px !important;
    width: 60%;
}

#infra-1 {
    border: 1px solid #b0adad;
    border-radius: 10px;
    padding: 10px !important;
    width: 30%;
}

#question-s {
    border-radius: 10px;
    padding: 10px !important;
    width: 30%;
}

#cloud {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#card-in {
    border: none !important;
}

#a-menu {
    display: flex;
    justify-content: space-between;
}

#a-menu1 {
    display: flex;
    justify-content: space-between;
}

#a-menu2 {
    display: flex;
    justify-content: space-between;
}

#controler {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.professors {
    display: flex;
    align-items: center;
}

#faq {
    display: flex;
    justify-content: space-around;
}

@media(max-width:600px) {
    #hero {
        display: flex;
        flex-direction: column;
    }

    #box {
        width: 400px;
        height: 400px;
        background-color: white;
        margin-top: 5px !important;
    }
    #content {
        width: 100%;
    }

    #google-img {
        margin-top: 5px !important;
    }

    #content-box {
        margin-top: 10px;
        width: 100%;
    }
    #infra {
        border: 1px solid #a9a8a8;
        border-radius: 10px;
        padding: 10px !important;
        width: 100% !important;
    }
    #infra-1 {
        border: 1px solid #b0adad;
        border-radius: 10px;
        padding: 10px !important;
        width: 100%;
        margin-top: 10px !important;
    }
    #master {
        margin-top: 450px !important;
        padding: 10px;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-between;
    }
    #m-img{
        margin-top: 10px !important;
    }

    #list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #img-content {
        margin-top: 90px !important;
        display: flex;
        height: 500px !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: none !important;
        height: 100px;
    }

    #acrrording {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #a-menu {
    
        display: flex;
        justify-content: space-between;
    }

    #a-menu1 {
        display: flex;
        justify-content: space-between;
    }

    #a-menu2 {
        width: 190% !important;
        display: flex;
        justify-content: space-between;
    }
    #faq {
        display: flex;
        flex-direction: column !important;
    }
    #question-s {
        margin-left: 20px;
        width: 80% !important;
    }
    #accordionFlushExample {
        margin-left: 20px;
        width: 80% !important;
    }
}

.navbar-toggler {
    padding: 0px !important;
    border: none !important;
}

.explorebtn {
    font-family: "Source Sans 3", sans-serif !important;
    border: 1px solid #0056d2 !important;
}

.bi-chevron-down {
    font-size: 14px !important;
}

#main-nav {
    padding: 5px !important;
}

/* search bar */
.search-bar {
    position: relative;
}

.custom-placeholder::placeholder {
    font-size: 14px;
    /* Change to your desired font size */
    font-family: "Source Sans 3", "Arial", sans-serif;
    /* Change to your desired font family */
}

#navbarSupportedContent {
    width: 30%;
}

.search-bar {
    position: relative;
    width: 500px;
}

#serchbar {
    position: relative;
    width: 450px !important;
    font-size: 14px;
}

.large-search-box {
    width: 500px;
    padding-left: 3rem;
    /* Adjust based on icon size and padding */
    font-size: 14px;
}

.icon-circle {
    position: absolute;
    right: 5px;
    /* Adjust based on desired position */
    top: 50%;
    transform: translateY(-50%);
    background-color: #0056d2;
    /* Bootstrap primary color */
    border-radius: 50%;
    width: 30px;
    /* Adjust based on desired size */
    height: 30px;
    /* Adjust based on desired size */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle i {
    color: white;
    font-size: 16px;
    /* Adjust based on desired icon size */
}

.icon-circle1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    background-color: #00347d;
    color: white;
    /* Ensure the text color contrasts with the background */
    font-size: 18px;
    /* Adjust font size as needed */
    border-radius: 50%;
}

.v-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.avatar-initial {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6c757d;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.dropdown-icon {
    margin-left: 8px;
}

/* .nav-item>.btn{
      padding-top: 0.75rem!important;
      padding-bottom: 0.75rem!important;
  } */
/* //////////////////////  */

@media (max-width: 992px) {
    .navbar-brand {
        flex: 1;
        text-align: center;
    }

    .navbar-toggler {
        padding: 0px !important;
        border: none !important;
    }

    .navbar-toggler {
        order: -1;
    }

    #navbarSupportedContent {
        flex-basis: 100%;
        justify-content: space-between;
    }

    .search-bar {
        width: auto;
        order: 1;
        margin-left: auto;
    }

    .icon-circle {
        position: static;
        background: none;
        color: inherit;
    }

    .large-search-box {
        width: auto;
    }

    .nav-item.d-flex {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
        /* border: 1px solid #000; */
        height: 16px !important;
        /* Adjust for smaller screens */
    }

    .navbar-toggler {
        order: -1;
    }

    .search-bar {
        display: none;
    }

    .search-icon {
        display: block;
    }

    .search-icon-mobile {
        display: none;
    }

    .navbar-toggler {
        padding: 0px !important;
        border: none !important;
    }
}

/* Additional adjustments for the navbar at smaller sizes */
.search-icon-mobile {
    display: none;
}

/* 3rd navbar */

.pg-indicatornav-links {
    font-family: "Source Sans 3", "sans-serif";
}