.w-25{
    width: 200px !important;
}

.w-50{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Custom CSS */
@media (max-width: 991px) { /* For medium screens and below */
    .fw-boald {
        font-weight: bold !important;
    }

    .card {
        flex-direction: column !important;
    }

    .card-body {
        text-align: center !important;
    }

    .user-name {
        text-align: center !important;
    }
}

@media (max-width: 767px) { /* For small screens */
    .fw-boald {
        font-weight: bold !important;
    }

    .card {
        flex-direction: column !important;
    }

    .card-body {
        text-align: center !important;
    }

    .user-name {
        text-align: center !important;
    }
}
